# Analytics
ANALYTICS_USER=admin
ANALYTICS_PASSWORD=winnipeg123
ANALYTICS_HOST=analytics.aiassistant.test
ANALYTICS_WEBSITE_ID=f10c30d3-a241-40e1-b4c0-62526fb86f28

# Database
DATABASE_HOST=localhost
DATABASE_USER=admin
DATABASE_PASSWORD=winnipeg123
DATABASE_DB=aiassistant
DATABASE_PORT=5432
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_DB}?schema=public"
DATABASE_DIRECT_URL_PORT=5432
DATABASE_DIRECT_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_DIRECT_URL_PORT}/${DATABASE_DB}"
DATABASE_GUI_USER=admin@aiassistant.test
DATABASE_GUI_PASSWORD=winnipeg123
DATABASE_GUI_HOST=database.aiassistant.test

# Logger
LOGGER_LEVEL=debug
LOGGER_ENABLED=true
LOGGER_USER=admin@aiassistant.test
LOGGER_PASSWORD=winnipeg123
LOGGER_HOST=logger.aiassistant.test
LOGGER_DSN=https://d924018a2fdd4f10b36bdae1f80351f8@logger.aiassistant.test/1
LOGGER_SECURITY_ENDPOINT="https://${LOGGER_HOST}/api/1/security/?glitchtip_key=d924018a2fdd4f10b36bdae1f80351f8"

# Mailer
MAIL_USER=admin
MAIL_PASSWORD=winnipeg123
MAIL_HOST=mail.aiassistant.test
MAIL_PORT=1025

# Monitoring
MONITORING_USER=admin
MONITORING_PASSWORD=winnipeg123
MONITORING_HOST=monitoring.aiassistant.test
PROMETHEUS_HOST=prometheus.aiassistant.test

# Auth
AUTH_LOGIN_ROUTE=/
AUTH_LOGIN_SUCCESS_ROUTE=/admin
AUTH_ADMIN_HOST=auth.aiassistant.test
AUTH_ADMIN_USER=admin
AUTH_ADMIN_PASSWORD=winnipeg123
## Google auth (Keycloak locally)
AUTH_GOOGLE_ISSUER="https://${AUTH_ADMIN_HOST}/realms/aiassistant"
AUTH_GOOGLE_CLIENT_ID=aiassistant-app
AUTH_GOOGLE_CLIENT_SECRET=winnipeg123
AUTH_GOOGLE_HOST=https://www.aiassistant.test

# Cache
CACHE_HOST=localhost
CACHE_PORT=6379
CACHE_PASSWORD=winnipeg123
CACHE_URL="redis://:${CACHE_PASSWORD}@${CACHE_HOST}:${CACHE_PORT}"
CACHE_GUI_HOST=cache.aiassistant.test

# Flags
FLAGS_HOST=flags.aiassistant.test
FLAGS_USER=admin
FLAGS_PASSWORD=winnipeg123
FLAGS_URL="https://${FLAGS_HOST}/api"
FLAGS_BACKEND_TOKEN="*:development.6f67cbddc7e6e19ca9e1adef0b8306cc34757e98f40908f6918b05f4"
FLAGS_FRONTEND_TOKEN="*:development.cc3673f3979f2c978952c6bfdca1c8cbc93de50972fda419eed57b02"

# Search
SEARCH_HOST=localhost
SEARCH_PORT=7700
SEARCH_MASTER_KEY=winnipeg123
SEARCH_URL="http://${SEARCH_HOST}:${SEARCH_PORT}"
SEARCH_PUBLIC_HOST=search.aiassistant.test
SEARCH_PUBLIC_URL="https://${SEARCH_PUBLIC_HOST}"
SEARCH_ADMIN_KEY=7e23b24d7ebe548b460a96d9dd854486dbff89fe89bb04cf95d44ec22e752236
SEARCH_SEARCH_KEY=570d2b89300a7aeaeec9b8f28bef669f59aca07ee815f1b1c26ee6e6697f2a23

# Storage
FILE_SYSTEM_USER=admin
FILE_SYSTEM_PASSWORD=winnipeg123
FILE_SYSTEM_ENDPOINT=http://localhost:9000
FILE_SYSTEM_REGION=us-east-1
FILE_SYSTEM_BUCKET=app-files
FILE_SYSTEM_FORCE_PATH_STYLE=true
FILE_SYSTEM_PUBLIC_BASE_URL="https://storage.aiassistant.test/app-files"
