{
  "name": "@local.pkg/{{PACKAGE_NAME}}-example",
  "version": "0.0.0",
  "private": true,
  "license": "MIT",
  "author": "Olavo Amorim Santos<olavo.santos@micra.dev>",
  "repository": {
    "type": "git",
    "url": "https://github.com/{{ORG}}/{{NAME}}.git",
    "directory": "examples/{{PACKAGE_NAME}}"
  },
  "type": "module",
  "scripts": {
    "dev": "vite",
    "build": "vite build",
    "clean": "rm -rf dist node_modules",
    "fix": "run-p lint:fix format:fix",
    "format:check": "oxfmt -c .prettierrc.mjs --check src/",
    "format:fix": "oxfmt -c .prettierrc.mjs --write src/",
    "lint:check": "oxlint -c oxlint.json src/",
    "lint:fix": "oxlint -c oxlint.json --fix src/",
    "type:check": "tsc --noEmit"
  },
  "dependencies": {},
  "devDependencies": {
    "@local.pkg/config": "workspace:*",
    "@types/node": "catalog:",
    "npm-run-all": "catalog:",
    "oxfmt": "catalog:",
    "oxlint": "catalog:",
    "typescript": "catalog:",
    "vite": "catalog:"
  }
}
